<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
      <session-factory>
        <!-- 数据库配置  必须-->
         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
         <property name="hibernate.connection.url">jdbc:mysql:///hibernate</property>
         <property name="hibernate.connection.username">root</property>
         <property name="hibernate.connection.password">root</property>
         <!-- 控制台显示sql语句 并格式化 -->
         <property name="hibernate.show_sql">true</property>
         <property name="hibernate.format_sql">true</property>
         
         <!-- 创建表的方式 -->
         <property name="hibernate.hbm2ddl.auto">update</property>
         <!--  引入映射表-->
         <mapping resource="com/itheima/domain/hibernate.hbm.xml"/>
         
         
      </session-factory>

</hibernate-configuration>